.menu-text {
  color: white;
}

h1 {
  color: white;
}
.subheader {
  color: #2CE62B;
}

h3 > a, h3 > a:focus{
  color: white;
}

h4 {
  color: white;
}

h3 {
  color:#4B586E;
}

@media only screen and (max-width: 640px){
  h1{
    font-size: 175%;
    margin-bottom: 0px;
    margin-top: 10px;
  }

  .lead {
    font-size: 15px;
  }

  .subheader{
    font-size: 16px;
  }
}

@media only screen and (min-width: 641px) {
  h1{
    font-size: 400%;
    margin-bottom: 0px;
    margin-top: 40px;
  }

}

@media only screen and (min-width: 1025px){
  h1 {
    font-size: 500%;
    padding-top: 90px;
    margin-bottom: 20px;
  }

  .subheader {
    font-size: 40px;
  }

  .lead {
    padding-top: 50px;
    font-size: 35px;
  }
}
