h1 {
  color: white;
  font-size: 500%;
  padding-top: 150px;
}
.subheader {
  color: #2CE62B;
  margin-top: -30px;
}

h3 > a, h3 > a:focus{
  color: white;
}

h4 {
  color: white;
}

h3 {
  color:#4B586E;
}
.menu-text {
  color: white;
}
.lead {
  padding-top: 50px;
  font-size: 35px
}
