.top-bar, .top-bar ul{
  background-color: #EBE9F6;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menu > li > a:hover {
  background-color: white;
  border-radius: 5%;
}

#logo {
  width: 40px;
}

.background {
  background-image: url("../img/terminal_backgroundflou.jpg");
  background-repeat: no-repeat;
}

.callout.secondary {
  background-color: gray;
  margin-bottom: -11px;
}

.label.secondary {
  background-color: #2CE62B;
  border-radius: 5%;
  margin-right: 10px;
  margin-top: 10px;
}
.label.secondary:hover {
  background-color: white;
}

.central-button {
  border-radius: 15px;
  font-size: 20px;
  background: #F03861;
  text-decoration: none;
}

.central-button:hover {
  background: #2CE62B;
  text-decoration: none;
}

#app {
  font-style: oblique;
  font-weight:900;
}

.button {
  background: #2E2B2B;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 15px 20px;
  font-size: 40px;
}

.button:hover {
  background: white;
  color: black;
}

.flash {
  font-size: 50px;
  margin-top: 5px;
}
#qrcode {
  max-height: 200px;
  margin-bottom: 40px;
}
#qrcode:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#margin {
  margin-bottom: 50px;
}
#color {
  background-color: white;
  margin-bottom: 50px;
}

@media only screen and (max-width: 640px){
  #logo{
    height: auto;
  }

  .background {
    background-size: 100%;
    max-height: 170px;
  }

  .central-button {
    width: 200px;
    margin: 5px auto 30px;
    height: 55px;
    padding: 5%;
  }

  #app {
    font-size: 25px;
    min-height: 80px;
  }
}

@media only screen and (min-width: 641px) {
  #logo{
    height: 10%;
  }

  .background{
    background-size: 100%;
  }

  .central-button {
    width: 200px;
    margin: 5px auto 30px;
    height: 55px;
    padding: 2%;
  }

  #app{
      font-size: 50px;
      min-height: 150px;
  }
}

@media only screen and (min-width: 930px) {
  .central-button{
    height: 62px;
  }

}

@media only screen and (min-width: 1025px){
  #logo {
    height: 40px;
  }

  .background{
    min-height: 600px;
    background-size: cover;
    margin-bottom: 70px;
  }

  .central-button{
    padding: 15px;
    margin: 50px auto 0px;
    height: 90px;
    width: 400px;
    font-size: 40px;
  }

  #mag {
    color: #2CE62B;
    font-weight: 800;
  }

}
