
.top-bar, .top-bar ul{
  background-color: #EBE9F6;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menu > li > a:hover {
  background-color: white;
  border-radius: 5%;
}

#logo {
  height: 40px;
  weight: 40px;
}

.background {
  background-image: url("../img/terminal_backgroundflou.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
  margin-bottom: 70px;
}

.callout.secondary {
  background-color: gray;
  margin-bottom: -11px;
}

.label.secondary {
  background-color: #2CE62B;
  border-radius: 5%;
  margin-right: 10px;
  margin-top: 10px;
}
.label.secondary:hover {
  background-color: white;
}

.chatbot {
  border-radius: 15px;
  font-size: 20px;
  background: #F03861;
  padding: 10px 10px 10px 10px;
  margin-top: 80px;
  margin-left: 400px;
  margin-right: 400px;
  text-decoration: none;
}

.chatbot:hover {
  background: #2CE62B;
  text-decoration: none;
}

#app {
  font-size: 50px;
  font-style: oblique;
  font-weight:900;
}

.button {
  background: #4B586E;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px 60px;
  font-size: 40px;
}

.button:hover {
  background: white;
  color: black;
}

@media only screen and (max-width: 40em){
  #logo{
    height: auto;
  }

  .background {
    background-image: url("../img/terminal_backgroundflou.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: auto;
    margin-bottom: 70px;
  }
}

@media only screen and (min-width: 64.063em){

}
