<footer class="footer">
  <div class="row">

    <div class="large-4 columns">
      <h4>Le plus recherchés</h4>
      <span class="secondary label">Push</span>
      <span class="secondary label">Pull</span>
      <span class="secondary label">Commit</span>
      <span class="secondary label">Merge</span>
      <span class="secondary label">Add</span>
      <span class="secondary label">Check-out</span>
      <span class="secondary label">Commande</span>
      <span class="secondary label">Error</span>
    </div>


    <div class="large-4 large-offset-4 columns">
      <h4> The Terminal MAG</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quam voluptatum vel repellat ab similique molestias molestiae ea omnis eos, id asperiores est praesentium, voluptate officia nulla aspernatur sequi aliquam.</p>
    </div>
  </div>

  <div class="row expanded">

    <div class="medium-6 columns">
      <ul class="menu">
        <li><a href="#">Legal</a></li>
        <li><a href="#">Partner</a></li>
        <li><a href="#">Explore</a></li>
      </ul>
    </div>

    <div class="medium-6 columns">
      <ul class="menu align-right">
        <li class="menu-text">Copyright © 2017 The Termninal</li>
      </ul>
    </div>
  </div>
</footer>
