<footer class="footer">
  <div class="row">

    <div class="large-4 columns">
      <h4>Le plus recherchés</h4>
      <span class="secondary label">Push</span>
      <span class="secondary label">Pull</span>
      <span class="secondary label">Commit</span>
      <span class="secondary label">Merge</span>
      <span class="secondary label">Add</span>
      <span class="secondary label">Check-out</span>
      <span class="secondary label">Commande</span>
      <span class="secondary label">Error</span>
    </div>


    <div class="large-4 large-offset-4 columns">
      <h4> The Terminal MAG</h4>
      <p id="mag">Le développeur ne doit pas avoir peur de mettre les mains dans les langages de programmation et les bases de données : PHP, Ruby, Python et SQL sont ses meilleurs amis. L’utilisation parfaite de frameworks comme Cake PHP, Symfony, Foundation ou encore Code Igniter est aussi indispensable.
      </p>
    </div>
  </div>

    <div class="medium-6 columns">
      <ul class="menu align-left">
        <li class="menu-text">Copyright © 2017 The Termninal</li>
      </ul>
    </div>
  </div>
</footer>
