<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le Terminal</title>
    <link href="https://fonts.googleapis.com/css?family=Audiowide|Gruppo" rel="stylesheet">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>
    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text"></li>
          <li><a href="#">Accueil</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->

    <div class="background">
      <div class="row column text-center">
        <h1> The Terminal</h1>
        <h2 class="subheader">Become developer</h2>
          <div class= "chatbot">
           <h3><a href="#">Chat with Us</a></h3>

          </div>
      </div>
    </div>

    <script src="{{root}}assets/js/app.js"></script>
  </body>
  </html>
