    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text"></li>
          <a href="index.html" title="Logo">
            <img id="logo" src="{{root}}assets/img/logoTT.png" alt="logo_Terminal">
          </a>
          <li><a href="index.html">Accueil</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="blog.html">Blog</a></li>
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->

    <div class="background">
      <div class="row column text-center">
        <h1> > The Terminal _ </h1>
        <h2 class="subheader">Become developer</h2>
          <div class= "chatbot">
           <h3><a href="#">Chat with Us</a></h3>

          </div>
      </div>
    </div>
